@page
@model LSP3.Pages.Book2Model
@{
    Layout = "_Layout";
}


<div class="container-fluid">
    <div class="content" style="width:60%;">
        <form method="post" enctype="multipart/form-data" asp-action="FileUpload">
            <div class="row">
                <div class="col-sm-12">
                    Book Image and Document Uploads
                </div>
            </div>
            <div class="row"></div>
            <div class="row">
                <div class="col-sm-12" style="color: red;">@Model.Status</div>
            </div>

            <div class="row">
                <div class="col-sm-3 form-control">
                    <label asp-for="File" class="form-label" style="background-color: lightgray; padding: 25px;">Click here to select Manuscript</label>
                    <input type="file" id="fileInput0" class="uploadBorderFile" />
                    <span asp-validation-for="File" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3 form-control">
                    <label asp-for="File" class="form-label" style="background-color: lightgray; padding: 25px;">Click here to select Cover file</label>
                    <input type="file" id="fileInput1" class="uploadBorderFile" />
                    <span asp-validation-for="File" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3 form-control">
                    <label asp-for="File" class="form-label" style="background-color: lightgray; padding: 25px;">Click here to select Interior file</label>
                    <input type="file" id="fileInput2" class="uploadBorderFile" />
                    <span asp-validation-for="File" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3 form-control">
                    <label asp-for="File" class="form-label" style="background-color: lightgray; padding: 25px;">Click here to select Author Photo file</label>
                    <input type="file" id="fileInput3" class="uploadBorderFile" />
                    <span asp-validation-for="File" class="text-danger"></span>
                </div>
            </div>

            <div class="row" style="height: 25px"></div>
            <div class="row">
                <div class="col-sm-3 form-control">
                    <button id="uploadButton" name="uploadButton" type="button" class="btn btn-primary" style="color: white">Upload File</button>
                </div>
            </div>
        </form>
    </div>

</div>
<script type="text/javascript">

    const uploadButton = document.getElementById("uploadButton");

    uploadButton.addEventListener("click", () => {

        debugger;
        const fileInputs = [
            document.getElementById("fileInput0"),
            document.getElementById("fileInput1"),
            document.getElementById("fileInput2"),
            document.getElementById("fileInput3")
        ];

        fileInputs.forEach(input => {
            const files = input.files;

            if (files.length > 0) {
                const formData = new FormData();
                for (let i = 0; i < files.length; i++) {
                    formData.append("files[]", files[i]);
                }

                // Replace with your actual server-side upload endpoint
                const uploadUrl = "/your-upload-endpoint";

                fetch(uploadUrl, {
                    method: "POST",
                    body: formData
                })
                    .then(response => {
                        // Handle the server response (e.g., show success/error messages)
                    })
                    .catch(error => {
                        console.error("Upload error:", error);
                    });
            }
        });
    });


</script>
