@page
@model IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Book Information";
}

<div class="container">
    <div class="content">
        <div class="card" style="width: 100%;">
            <div class="card-body">
                <h5 class="card-title">Information</h5>
                <h6 class="card-subtitle mb-2 text-muted">How to submit a book</h6>
                <p class="card-text">
                    Once you upload mandatory components of your book, your book goes into production after 24 hours.
                    ONLY upload or provide FINAL content for your book.
                    If you feel you’ve uploaded or provided something incorrect, you have 24 hours to notify LSP.
                    Any changes or edits after the 24 hour grace period are subject to editorial fees.
                </p>
            </div>
        </div>

        <br /><br />
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" name="title" id="title" aria-describedby="titleHelp">
            <div id="titleHelp" class="form-text">This is the title of your book</div>
        </div>
        <div class="mb-3">
            <label for="subtitle" class="form-label">Sub Title</label>
            <input type="text" class="form-control" name="subtitle" id="subtitle" aria-describedby="subtitleHelp">
            <div id="titleHelp" class="form-text">If you have a subtitle for your book, please enter that here, if not leave blank.</div>
        </div>

        <div class="mb-3">
            <label for="isbn" class="form-label">ISBN</label>
            <input type="text" class="form-control" name="isbn" id="isbn" aria-describedby="isbnHelp">
            <div id="isbnHelp" class="form-text">This the ISBN number for your book. LSP use only.</div>
        </div>

        <div class="mb-3">
            <label for="isbn" class="form-label">Description</label>
            <input type="text" class="form-control" name="description" id="description" aria-describedby="descriptionHelp">
            <div id="descriptionHelp" class="form-text">This is the description of your book. What customers will see online and what appears on the back of your book. Description should be two to three paragraphs.</div>
        </div>

        <div class="mb-3">
            <label for="isbn" class="form-label">Author Biography</label>
            <input type="text" class="form-control" name="bio" id="bio" aria-describedby="bioHelp">
            <div id="bioHelp" class="form-text">If you would like to include an author biography, please write up to one paragraph otherwise leave blank.</div>
        </div>

        <div class="mb-3">
            <select class="form-select form-select-sm" id='author' name='author' aria-label=".form-select-sm">
                <option selected>Author</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        
        <div class="mb-3">
            <label for="isbn" class="form-label">Cover Idea</label>
            <input type="text" class="form-control" id="bio" name="bio" aria-describedby="coverHelp">
            <div id="coverHelp" class="form-text">If you have an idea for your cover please describe it in the space below, otherwise leave blank. LSP designers will do their best to duplicate your idea when possible.</div>
        </div>

        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="tandc" name="tandc">
            <label class="form-check-label" for="exampleCheck1">I understand the <a href="http://www.lightswitchpress.com/terms.php" target="_blank">Terms and Conditions</a></label>
        </div>
        <button id="addsubmit" name="addsubmit" type="button" class="btn btn-success">Submit Information</button>
    </div>
</div>





