@page
@model LSP3.Pages.SalesModel

<component type="typeof(GridFilter)" render-mode="ServerPrerendered" />

<div style="height:10px;"></div>
<div id="myGrid" class="ag-theme-alpine" style="height: 780px; width:100%;"></div>

@section BottomScripts {
    <script type="text/javascript" src="~/Scripts/BookSales.js"></script>
}
