@page
@model LSP3.Pages.FilesModel
@{
    Layout = "_LayoutAdmin2";
}



<div class="container-fluid">
    <div class="content" style="width:60%;">
        <div style="height:5px;"></div>
        <div class="row">
            <div class="col-sm-2">
                <button type="button" id="savefiltermodel" onclick="saveFilterModel();" class="btn btn-outline-success btn-sm" style="color: black">Save Filter</button>
            </div>
            <div class="col-sm-2">
                <button type="button" id="savefiltermodel" onclick="restoreFilterModel();" class="btn btn-outline-success btn-sm" style="color: black">Restore Filter</button>
            </div>
            <div class="col-sm-2">
                <button type="button" id="savefiltermodel" onclick="clearFilters();" class="btn btn-outline-danger btn-sm" style="color: black">Reset Filters</button>
            </div>
            <div class="col-sm-2">
                <button type="button" id="savefiltermodel" onclick="destroyFilter();" class="btn btn-outline-danger btn-sm" style="color: black">Destroy Filter</button>
            </div>
            <div class="col-sm-2">
                Saved Filters: <span id="savedFilters">(none)</span>
            </div>


        </div>
    </div>
</div>
<div style="height:5px;"></div>
<div id="myGrid" class="ag-theme-alpine" style="height: 830px; width: 1200px"></div>

<!-- Modal Structure -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Save Changes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Changes have been saved.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<script>

    const columnDefs = [
        { field: 'name', headerName: 'File Name' },
        { field: 'length', headerName: 'FileLength', cellDataType: 'number', filter: 'agNumberColumnFilter'},
        { field: 'createDate', headerName: 'Created'},
        { field: 'modifyDate', headerName: 'Modified'}
        
    ];

    const rowlist =  @Html.Raw(Json.Serialize(Model.Files));

    let gridApi;

    // Grid options
    const gridOptions = {
        columnDefs: columnDefs,
        pagination: true,
        paginationPageSize: 20,
        rowHeight: 32.5,
        defaultColDef: {
            filter: "agTextColumnFilter",
            floatingFilter: true,
            editable: true,
            sortable: true,
            flex: 1,
            editable: false
        },
        rowData: rowlist
    };

    // Create the grid instance
    gridApi = new agGrid.createGrid(document.getElementById('myGrid'), gridOptions);

    var savedFilterModel = null;

    function clearFilters() {
        gridApi.setFilterModel(null);
    }

    function saveFilterModel() {

        savedFilterModel = gridApi.getFilterModel();

        var keys = Object.keys(savedFilterModel);
        var savedFilters = keys.length > 0 ? keys.join(", ") : "(none)";

        document.querySelector("#savedFilters").textContent = savedFilters;
    }

    function restoreFilterModel() {
        gridApi.setFilterModel(savedFilterModel);
    }

    function destroyFilter() {
        gridApi.setFilterModel(null);

        document.querySelector("#savedFilters").textContent = '';
    }

</script>
