@page
@model LSP3.Pages.FileUploadModel
@{
    Layout = "_LayoutAdmin2";
}

<div class="container-fluid">
    <div class="content" style="width:60%;">
        <div style="height:20px"></div>

        <form method="post" id="uploadform">
            <div class="row">
                <div class="col-sm-2">
                    <h4>File Upload</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1">Book:</div>
            </div>

            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" name="title" id="title" aria-describedby="titleHelp" >
            </div>

            <div class="mb-3">
                <label for="subtitle" class="form-label">Sub Title</label>
                <input type="text" class="form-control" name="subtitle" id="subtitle" aria-describedby="subtitleHelp">
            </div>

            <div class="mb-3">
                <label for="isbn" class="form-label">ISBN</label>
                <input type="text" class="form-control" name="isbn" id="isbn" aria-describedby="isbnHelp" >
                <div id="isbnHelp" class="form-text">This the ISBN number for your book. LSP use only.</div>
            </div>

            <div class="mb-3">
                <label for="isbn" class="form-label">Description</label>
                <textarea class="form-control" name="description" id="description" rows="2" cols="20" MaxLength="6000" style="resize:vertical;width:100%;" TextMode="MultiLine" aria-describedby="descriptionHelp"></textarea>
                <div id="descriptionHelp" class="form-text">This is the description of your book. What customers will see online and what appears on the back of your book. Description should be two to three paragraphs.</div>
            </div>

            <div class="mb-3">
                <label for="isbn" class="form-label">Author Biography</label>
                <textarea class="form-control" name="authorbio" id="authorbio" rows="2" cols="20" MaxLength="6000" TextMode="MultiLine" style="resize:vertical;width:100%;" aria-describedby="bioHelp"></textarea>
                <div id="bioHelp" class="form-text">If you would like to include an author biography, please write up to one paragraph otherwise leave blank.</div>
            </div>


            <div class="mb-3">
                <label for="isbn" class="form-label">Cover Idea</label>
                <textarea class="form-control" id="coveridea" name="coveridea" rows="2" cols="20" MaxLength="6000" style="resize:vertical;width:100%;" TextMode="MultiLine" aria-describedby="coverHelp" ></textarea>
                <div id="coverHelp" class="form-text">If you have an idea for your cover please describe it in the space below, otherwise leave blank. LSP designers will do their best to duplicate your idea when possible.</div>
            </div>

            <div class="mb-3">
                <label for="notes" class="form-label">Notes</label>
                <textarea class="form-control" id="notes" name="notes" rows="2" cols="20" MaxLength="6000" style="resize:vertical;width:100%;" TextMode="MultiLine" aria-describedby="notesHelp" ></textarea>
                <div id="notesHelp" class="form-text">Place to provide notes</div>
            </div>


            <div class="row">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-1">
                    <button type="button" id="UpdateButton" onclick="return UpdateBookEventHandler(event);" class="btn btn-primary" style="color: white">Update</button>
                </div>
                <div class="col-sm-1">
                    <button type="button" id="CancelButton" onclick="return CancelBookEventHandler(event);" class="btn btn-secondary" style="color: white">Cancel</button>
                </div>

            </div>
            <div style="height:20px;"></div>
        </form>
    </div>


