@page
@model LSP3.Pages.RegisterModel
@{
    Layout = "_LayoutNoMenu";
    ViewData["Title"] = "Registration";
}
<link rel="stylesheet" href="css/AddAuthor.css" type="text/css" />

<form method="post" id="authorform">
    <table>
        <tr><td colspan="2"><center><img src="images/logo.png" /></center></td></tr>
        <tr><td colspan="2"><label id="lblError" class="error"></label></td></tr>

        <tr>
            <td><label id="UserName_Label" for="UserName">UserName</label></td>
            <td><input type='text' name="UserName" id="UserName" class="textInput" MaxLength="30" /></td>
        </tr>
        
        <tr>
            <td><label id="Email_Label" for="Email">Email</label></td>
            <td><input type='text' name="Email" id="Email" class="textInput" MaxLength="70" /></td>
        </tr>

        <tr>
            <td><label id="Password_Label" for="Password">Password</label></td>
            <td><input type='password' name="Password" id="Password" class="textInput" MaxLength="50" /></td>
        </tr>
        <tr>
            <td><label id="PasswordAgain_Label" for="Password">Reenter Password</label></td>
            <td><input type='password' name="Password" id="AgainPassword" class="textInput" MaxLength="50" /></td>
        </tr>

        <tr>
            <td><label for="Prefix" class="textInput">Prefix</label></td>
            <td width="300">
                <select name="Prefix" id="Prefix" class="textInput">
                    <option selected value="">None</option>
                    <option value="Mr">Mr</option>
                    <option value="Mrs">Mrs</option>
                    <option value="Miss">Miss</option>
                    <option value="Dr">Dr</option>
                    <option value="Rev">Rev</option>
                </select>
            </td>
        </tr>


        <tr>
            <td><label id="FirstName_Label" for="FirstName">First Name</label></td>
            <td><input type='text' name="FirstName" id="FirstName" class="textInput" MaxLength="50" /></td>
        </tr>

        <tr>
            <td><label id="MiddleName_Label" for="MiddleName">Middle Name</label></td>
            <td><input type='text' name="MiddleName" id="MiddleName" class="textInput" MaxLength="50" /></td>
        </tr>

        <tr>
            <td><label id="LastName_Label" for="LastName">Last Name</label></td>
            <td><input type='text' name="LastName" id="LastName" class="textInput" MaxLength="50" /></td>
        </tr>

        <tr>
            <td><label name="Suffix_Label" id="Suffix_Label" for="Suffix" Suffix>Suffix</label></td>
            <td>
                <select name="Suffix" id="Suffix" class="textInput">
                    <option selected value="">None</option>
                    <option value="Jr">Jr</option>
                    <option value="Sr">Sr</option>
                    <option value="II">II</option>
                    <option value="III">III</option>
                    <option value="IV">IV</option>
                    <option value="Esq">Esq</option>
                </select>
            </td>
        </tr>

 
        <tr>
            <td><label id="Address1_Label" for="Address1">Address1</label></td>
            <td><input type='text' name="Address1" id="Address1" class="textInput" MaxLength="255" /></td>
        </tr>

        <tr>
            <td><label id="Address2_Label" for="Address2">Address2</label></td>
            <td><input type='text' name="Address2" id="Address2" class="textInput" MaxLength="255" />

        <tr>
            <td><label id="City_Label" for="City">City</label></td>
            <td><input type='text' name="City" id="City" class="textInput" MaxLength="50" /></td>
        </tr>

        <tr>
            <td><label id="State_Label" for="State">State</label></td>
            <td>
                <select name="State" id="State" class="textInput">
                    <option selected value="">-- Select State --</option>
                    <option value="AL">Alabama</option>
                    <option value="AK">Alaska</option>
                    <option value="AZ">Arizona</option>
                    <option value="AR">Arkansas</option>
                    <option value="CA">California</option>
                    <option value="CO">Colorado</option>
                    <option value="CT">Connecticut</option>
                    <option value="DC">District of Columbia</option>
                    <option value="DE">Delaware</option>
                    <option value="FL">Florida</option>
                    <option value="GA">Georgia</option>
                    <option value="HI">Hawaii</option>
                    <option value="ID">Idaho</option>
                    <option value="IL">Illinois</option>
                    <option value="IN">Indiana</option>
                    <option value="IA">Iowa</option>
                    <option value="KS">Kansas</option>
                    <option value="KY">Kentucky</option>
                    <option value="LA">Louisiana</option>
                    <option value="ME">Maine</option>
                    <option value="MD">Maryland</option>
                    <option value="MA">Massachusetts</option>
                    <option value="MI">Michigan</option>
                    <option value="MN">Minnesota</option>
                    <option value="MS">Mississippi</option>
                    <option value="MO">Missouri</option>
                    <option value="MT">Montana</option>
                    <option value="NE">Nebraska</option>
                    <option value="NV">Nevada</option>
                    <option value="NH">New Hampshire</option>
                    <option value="NJ">New Jersey</option>
                    <option value="NM">New Mexico</option>
                    <option value="NY">New York</option>
                    <option value="NC">North Carolina</option>
                    <option value="ND">North Dakota</option>
                    <option value="OH">Ohio</option>
                    <option value="OK">Oklahoma</option>
                    <option value="OR">Oregon</option>
                    <option value="PA">Pennsylvania</option>
                    <option value="RI">Rhode Island</option>
                    <option value="SC">South Carolina</option>
                    <option value="SD">South Dakota</option>
                    <option value="TN">Tennessee</option>
                    <option value="TX">Texas</option>
                    <option value="UT">Utah</option>
                    <option value="VT">Vermont</option>
                    <option value="VA">Virginia</option>
                    <option value="WA">Washington</option>
                    <option value="WV">West Virginia</option>
                    <option value="WI">Wisconsin</option>
                    <option value="WY">Wyoming</option>
                </select>
            </td>
        </tr>

        <tr>
            <td><label id="ZIP_Label" for="ZIP">ZIP</label></td>
            <td><input type='text' name="ZIP" id="ZIP" class="textInput" MaxLength="12" /></td>
        </tr>

        <tr>
            <td><label id="Country_Label" for="Country">Country</label></td>
            <td>
                <select name="Country" id="Country" class="textInput">
                    <option value="US">United States</option>
                    <option value="AF">Afghanistan</option>
                    <option value="AL">Albania</option>
                    <option value="DZ">Algeria</option>
                    <option value="AS">American Samoa</option>
                    <option value="AD">Andorra</option>
                    <option value="AO">Angola</option>
                    <option value="AI">Anguilla</option>
                    <option value="AQ">Antarctica</option>
                    <option value="AG">Antigua And Barbuda</option>
                    <option value="AR">Argentina</option>
                    <option value="AM">Armenia</option>
                    <option value="AW">Aruba</option>
                    <option value="AU">Australia</option>
                    <option value="AT">Austria</option>
                    <option value="AZ">Azerbaijan</option>
                    <option value="BS">Bahamas</option>
                    <option value="BH">Bahrain</option>
                    <option value="BD">Bangladesh</option>
                    <option value="BB">Barbados</option>
                    <option value="BY">Belarus</option>
                    <option value="BE">Belgium</option>
                    <option value="BZ">Belize</option>
                    <option value="BJ">Benin</option>
                    <option value="BM">Bermuda</option>
                    <option value="BT">Bhutan</option>
                    <option value="BO">Bolivia</option>
                    <option value="BA">Bosnia And Herzegowina</option>
                    <option value="BW">Botswana</option>
                    <option value="BV">Bouvet Island</option>
                    <option value="BR">Brazil</option>
                    <option value="IO">British Indian Ocean Territory</option>
                    <option value="BN">Brunei Darussalam</option>
                    <option value="BG">Bulgaria</option>
                    <option value="BF">Burkina Faso</option>
                    <option value="BI">Burundi</option>
                    <option value="KH">Cambodia</option>
                    <option value="CM">Cameroon</option>
                    <option value="CA">Canada</option>
                    <option value="CV">Cape Verde</option>
                    <option value="KY">Cayman Islands</option>
                    <option value="CF">Central African Republic</option>
                    <option value="TD">Chad</option>
                    <option value="CL">Chile</option>
                    <option value="CN">China</option>
                    <option value="CX">Christmas Island</option>
                    <option value="CC">Cocos (Keeling) Islands</option>
                    <option value="CO">Colombia</option>
                    <option value="KM">Comoros</option>
                    <option value="CG">Congo</option>
                    <option value="CK">Cook Islands</option>
                    <option value="CR">Costa Rica</option>
                    <option value="CI">Cote D'Ivoire</option>
                    <option value="HR">Croatia (Local Name: Hrvatska)</option>
                    <option value="CU">Cuba</option>
                    <option value="CY">Cyprus</option>
                    <option value="CZ">Czech Republic</option>
                    <option value="DK">Denmark</option>
                    <option value="DJ">Djibouti</option>
                    <option value="DM">Dominica</option>
                    <option value="DO">Dominican Republic</option>
                    <option value="TP">East Timor</option>
                    <option value="EC">Ecuador</option>
                    <option value="EG">Egypt</option>
                    <option value="SV">El Salvador</option>
                    <option value="GQ">Equatorial Guinea</option>
                    <option value="ER">Eritrea</option>
                    <option value="EE">Estonia</option>
                    <option value="ET">Ethiopia</option>
                    <option value="FK">Falkland Islands (Malvinas)</option>
                    <option value="FO">Faroe Islands</option>
                    <option value="FJ">Fiji</option>
                    <option value="FI">Finland</option>
                    <option value="FR">France</option>
                    <option value="GF">French Guiana</option>
                    <option value="PF">French Polynesia</option>
                    <option value="TF">French Southern Territories</option>
                    <option value="GA">Gabon</option>
                    <option value="GM">Gambia</option>
                    <option value="GE">Georgia</option>
                    <option value="DE">Germany</option>
                    <option value="GH">Ghana</option>
                    <option value="GI">Gibraltar</option>
                    <option value="GR">Greece</option>
                    <option value="GL">Greenland</option>
                    <option value="GD">Grenada</option>
                    <option value="GP">Guadeloupe</option>
                    <option value="GU">Guam</option>
                    <option value="GT">Guatemala</option>
                    <option value="GN">Guinea</option>
                    <option value="GW">Guinea-Bissau</option>
                    <option value="GY">Guyana</option>
                    <option value="HT">Haiti</option>
                    <option value="HM">Heard And Mc Donald Islands</option>
                    <option value="VA">Holy See (Vatican City State)</option>
                    <option value="HN">Honduras</option>
                    <option value="HK">Hong Kong</option>
                    <option value="HU">Hungary</option>
                    <option value="IS">Icel And</option>
                    <option value="IN">India</option>
                    <option value="ID">Indonesia</option>
                    <option value="IR">Iran (Islamic Republic Of)</option>
                    <option value="IQ">Iraq</option>
                    <option value="IE">Ireland</option>
                    <option value="IL">Israel</option>
                    <option value="IT">Italy</option>
                    <option value="JM">Jamaica</option>
                    <option value="JP">Japan</option>
                    <option value="JO">Jordan</option>
                    <option value="KZ">Kazakhstan</option>
                    <option value="KE">Kenya</option>
                    <option value="KI">Kiribati</option>
                    <option value="KP">Korea, Dem People'S Republic</option>
                    <option value="KR">Korea, Republic Of</option>
                    <option value="KW">Kuwait</option>
                    <option value="KG">Kyrgyzstan</option>
                    <option value="LA">Lao People'S Dem Republic</option>
                    <option value="LV">Latvia</option>
                    <option value="LB">Lebanon</option>
                    <option value="LS">Lesotho</option>
                    <option value="LR">Liberia</option>
                    <option value="LY">Libyan Arab Jamahiriya</option>
                    <option value="LI">Liechtenstein</option>
                    <option value="LT">Lithuania</option>
                    <option value="LU">Luxembourg</option>
                    <option value="MO">Macau</option>
                    <option value="MK">Macedonia</option>
                    <option value="MG">Madagascar</option>
                    <option value="MW">Malawi</option>
                    <option value="MY">Malaysia</option>
                    <option value="MV">Maldives</option>
                    <option value="ML">Mali</option>
                    <option value="MT">Malta</option>
                    <option value="MH">Marshall Islands</option>
                    <option value="MQ">Martinique</option>
                    <option value="MR">Mauritania</option>
                    <option value="MU">Mauritius</option>
                    <option value="YT">Mayotte</option>
                    <option value="MX">Mexico</option>
                    <option value="FM">Micronesia, Federated States</option>
                    <option value="MD">Moldova, Republic Of</option>
                    <option value="MC">Monaco</option>
                    <option value="MN">Mongolia</option>
                    <option value="MS">Montserrat</option>
                    <option value="MA">Morocco</option>
                    <option value="MZ">Mozambique</option>
                    <option value="MM">Myanmar</option>
                    <option value="NA">Namibia</option>
                    <option value="NR">Nauru</option>
                    <option value="NP">Nepal</option>
                    <option value="NL">Netherlands</option>
                    <option value="AN">Netherlands Ant Illes</option>
                    <option value="NC">New Caledonia</option>
                    <option value="NZ">New Zealand</option>
                    <option value="NI">Nicaragua</option>
                    <option value="NE">Niger</option>
                    <option value="NG">Nigeria</option>
                    <option value="NU">Niue</option>
                    <option value="NF">Norfolk Island</option>
                    <option value="MP">Northern Mariana Islands</option>
                    <option value="NO">Norway</option>
                    <option value="OM">Oman</option>
                    <option value="PK">Pakistan</option>
                    <option value="PW">Palau</option>
                    <option value="PA">Panama</option>
                    <option value="PG">Papua New Guinea</option>
                    <option value="PY">Paraguay</option>
                    <option value="PE">Peru</option>
                    <option value="PH">Philippines</option>
                    <option value="PN">Pitcairn</option>
                    <option value="PL">Poland</option>
                    <option value="PT">Portugal</option>
                    <option value="PR">Puerto Rico</option>
                    <option value="QA">Qatar</option>
                    <option value="RE">Reunion</option>
                    <option value="RO">Romania</option>
                    <option value="RU">Russian Federation</option>
                    <option value="RW">Rwanda</option>
                    <option value="KN">Saint K Itts And Nevis</option>
                    <option value="LC">Saint Lucia</option>
                    <option value="VC">Saint Vincent, The Grenadines</option>
                    <option value="WS">Samoa</option>
                    <option value="SM">San Marino</option>
                    <option value="ST">Sao Tome And Principe</option>
                    <option value="SA">Saudi Arabia</option>
                    <option value="SN">Senegal</option>
                    <option value="SC">Seychelles</option>
                    <option value="SL">Sierra Leone</option>
                    <option value="SG">Singapore</option>
                    <option value="SK">Slovakia (Slovak Republic)</option>
                    <option value="SI">Slovenia</option>
                    <option value="SB">Solomon Islands</option>
                    <option value="SO">Somalia</option>
                    <option value="ZA">South Africa</option>
                    <option value="GS">South Georgia , S Sandwich Is.</option>
                    <option value="ES">Spain</option>
                    <option value="LK">Sri Lanka</option>
                    <option value="SH">St. Helena</option>
                    <option value="PM">St. Pierre And Miquelon</option>
                    <option value="SD">Sudan</option>
                    <option value="SR">Suriname</option>
                    <option value="SJ">Svalbard, Jan Mayen Islands</option>
                    <option value="SZ">Sw Aziland</option>
                    <option value="SE">Sweden</option>
                    <option value="CH">Switzerland</option>
                    <option value="SY">Syrian Arab Republic</option>
                    <option value="TW">Taiwan</option>
                    <option value="TJ">Tajikistan</option>
                    <option value="TZ">Tanzania, United Republic Of</option>
                    <option value="TH">Thailand</option>
                    <option value="TG">Togo</option>
                    <option value="TK">Tokelau</option>
                    <option value="TO">Tonga</option>
                    <option value="TT">Trinidad And Tobago</option>
                    <option value="TN">Tunisia</option>
                    <option value="TR">Turkey</option>
                    <option value="TM">Turkmenistan</option>
                    <option value="TC">Turks And Caicos Islands</option>
                    <option value="TV">Tuvalu</option>
                    <option value="UG">Uganda</option>
                    <option value="UA">Ukraine</option>
                    <option value="AE">United Arab Emirates</option>
                    <option value="GB">United Kingdom</option>
                    <option value="US">United States</option>
                    <option value="UM">United States Minor Is.</option>
                    <option value="UY">Uruguay</option>
                    <option value="UZ">Uzbekistan</option>
                    <option value="VU">Vanuatu</option>
                    <option value="VE">Venezuela</option>
                    <option value="VN">Viet Nam</option>
                    <option value="VG">Virgin Islands (British)</option>
                    <option value="VI">Virgin Islands (U.S.)</option>
                    <option value="WF">Wallis And Futuna Islands</option>
                    <option value="EH">Western Sahara</option>
                    <option value="YE">Yemen</option>
                    <option value="YU">Yugoslavia</option>
                    <option value="ZR">Zaire</option>
                    <option value="ZM">Zambia</option>
                    <option value="ZW">Zimbabwe</option>
                </select>
            </td>
        </tr>

        <tr>
            <td><label id="BusinessPhone_Label" for="BusinessPhone">Business Phone</label></td>
            <td><input type='text' name="BusinessPhone" id="BusinessPhone" class="textInput" MaxLength="20" /></td>
        </tr>

        <tr>
            <td><label id="HomePhone_Label" for="HomePhone">Home Phone</label></td>
            <td><input type='text' name="HomePhone" id="HomePhone" class="textInput" MaxLength="20" /></td>
        </tr>

        <tr>
            <td><label id="CellPhone_Label" for="CellPhone">Cell Phone</label></td>
            <td><input type='text' name="CellPhone" id="CellPhone" class="textInput" MaxLength="20" /></td>
        </tr>


        <tr><td colspan="2"><checkBox name="chkTandC" id="chkTandC" Text="I agree to the Terms and Conditions" /></td></tr>


        <tr><td colspan="2">&nbsp;</td></tr>
    </table>

    <button type="button" id="AddButton" onclick="return AddAuthorEventHandler(event);" class="button blue">Add</button>&nbsp;&nbsp;

</form>
<script type="text/javascript">
    function AddAuthorEventHandler(event) {
        event.preventDefault();


        if (!Validate('UserName', 'Please supply your username')) return false;
        if (!Validate('Email', 'Please supply your email')) return false;
        if (!Validate('Password', 'Please supply a password')) return false;
        if (!Validate('AgainPassword', 'Please re-enter your password')) return false;


        var password = document.getElementById('Password').value;
        var againpassword = document.getElementById('AgainPassword').value;
        if (password != againpassword) {
            document.getElementById('lblError').innerHTML = 'Passwords must match';
            return false;
        }



        if (!Validate('FirstName', 'Please supply your first name')) return false;
        if (!Validate('LastName', 'Please supply your last name')) return false;
        var formData = new FormData(document.getElementById("authorform"));


        var data = JSON.stringify(Object.fromEntries(formData));
        var result = AddAuthor(data);
        alert('Success!  Author has been created!');
        window.location.href = "http://localhost:5123/Account/Login";
        return false;
    }

    function Validate(field, message) {
        var testvalue = document.getElementById(field).value;

        if (testvalue == null || testvalue == '') {
            // alert(message);
            document.getElementById('lblError').innerHTML = message;
            return false;
        }
        return true;
    }
</script>
