@page
@model LSP3.Pages.SearchModel
@{
    Layout = "_Layout";
}

<component type="typeof(GridFilter)" render-mode="ServerPrerendered" />

<div style="height:5px;"></div>
<div id="myGrid" class="ag-theme-alpine" style="height: 830px; width: 1200px"></div>

<component type="typeof(SaveDialog)" render-mode="ServerPrerendered" />

@section BottomScripts {
    <script type="text/javascript" src="~/Scripts/AuthorSearch.js"></script>
}
