
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.wrapper,
html,
body {
    height: 100vh;
    max-height: 100vh;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    /*font-weight: bold;
    font-size: 14px;
    color: #ed490a;
    background-color: #c0c0c0;*/
    /*border-bottom: 2px solid #a959c3;*/
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto 20px;
    overflow: auto;
    min-height: 100vh; /* Changes in media query to double this */
    max-height: 100vh;
}

.page-main {
    flex-grow: 1; /* can grow as big as needed */
    overflow: auto; /* The magic dust that is needed to make it scroll - see http://geon.github.io/programming/2016/02/24/flexbox-full-page-web-app-layout */
}

.page-header {
    background-color: black;
    grid-column: 1 / span 1;
    grid-row: 1 / 1;
}

.page-footer {
    background-color: white;
    grid-column: 1 / span 1;
    grid-row: 5 / 5;
}

.page-content {
    height: 100%;
    grid-column: 1 / span 1;
    grid-row: 2 / 2;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr;
}


#col1 {
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    overflow: auto;
    height: 100%;
}

    #col1.collapsed {
        display: none;
    }

#col2 {
    background-color: white;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

#content {
    max-height: 100%;
    background-color: white;
    overflow: auto;
    height: 100%;
}

#contentInner {
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    background-color: white;
    border: none;
}

.button {
    width: 100px;
    background-color: white;
}
/* When we hit the small width breakpoint, double the height of the wrapper to 2 x vp height, 
make the page content flex wrap, and make the page content columns 100% width to force the wrap. Also
noe make the  page content columns 40% height to retain their original height now the patent is double height. 
*/
@media screen and (max-width: 750px) {
    .wrapper {
        min-height: 200vh;
        max-height: 200vh;
    }

    .page-content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #col1 {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    #col2 {
        background-color: white;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;
        overflow-y: auto;
    }
}

thead tr th:first-child,
tbody tr td:first-child {
    width: 100px;
    min-width: 100px;
    max-width: 100px;
    word-break: break-all;
}

thead tr th:nth-child(-n + 2),
tbody tr td:nth-child(-n + 2) {
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    word-break: break-all;
}

#author-table {
    border-collapse: collapse;
    /*    border: black;
    border-color: black;
    border-bottom: black;
    border-width: 1px !important;*/
}

.spannobreak {
    white-space: nowrap;
}

#lastsearch {
    width: 50px;
}

#firstsearch {
    width: 50px;
}

.searchtable {
    width: 700px; /* Adjust total table width as needed */
    border-collapse: collapse;
}

#searchtd {
    border: 1px solid black;
    width: 100px; /* Width of each column */
    text-align: center;
}

.color-blue {
    background-color: steelblue;
}

.color-lightblue {
    background-color: lightsteelblue;
}

.sitelink {
    color: black;
}


.uploadBorder {
    /* border-2 border-dashed border-blue-500 p-40 mx-auto max-w-4xl cursor-pointer relative */
    border-style: solid;
    border-width: 2px;
    border-color: blue;
    cursor: pointer;
}

.uploadBorderFile {
    /* hidden absolute inset-0 w-full h-full opacity-0 cursor-pointer */
    cursor: pointer;
    opacity: 0;
    display: none;
}

.dropAreaText {
    color: gray;
    vertical-align: middle;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.dotBorder {
    border-style: double;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    z-index: 1;
    outline: none;
}

    select::-ms-expand {
        display: none;
    }

.select {
    display: grid;
    grid-template-areas: "select";
    align-items: center;
    position: relative;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

    .select select, .select::after {
        grid-area: select;
    }

    .select:not(.select--multiple)::after {
        content: "";
        justify-self: end;
        width: 0.8em;
        height: 0.5em;
        background-color: var(--select-arrow);
        -webkit-clip-path: polygon(100% 0%, 0 0%, 50% 100%);
        clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    }

select:focus + .focus {
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 2px solid var(--select-focus);
    border-radius: inherit;
}

select[multiple] {
    padding-right: 0;
    height: 6rem;
 

    select[multiple] option {
        white-space: normal;
        outline-color: var(--select-focus);
    }

.select--disabled {
    cursor: not-allowed;
    background-color: #eee;
    background-image: linear-gradient(to top, #ddd, #eee 33%);
}

label {
    font-size: 1.125rem;
    font-weight: 500;
}

.select + label {
    margin-top: 2rem;
}

input[type="file"]::file-selector-button {
    border-radius: 4px;
    padding: 0 16px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    transition: background-color 200ms;
}

    /* file upload button hover state */
    input[type="file"]::file-selector-button:hover {
        background-color: #f3f4f6;
    }

    /* file upload button active state */
    input[type="file"]::file-selector-button:active {
        background-color: #e5e7eb;
    }
