html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.wrapper,
html,
body {
    height: 100vh;
    max-height: 100vh;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto 20px;
    overflow: hidden;
    min-height: 100vh; /* Changes in media query to double this */
    max-height: 100vh;
}

.page-main {
    flex-grow: 1; /* can grow as big as needed */
    overflow-y: auto; /* Enable vertical scrolling */
}

.page-header {
    background-color: white;
    grid-column: 1 / span 1;
    grid-row: 1 / 1;
}

.page-footer {
    background-color: white;
    grid-column: 1 / span 1;
    grid-row-start: -1; /* Change to -1 to align with last row */
}

.page-content {
    height: calc(100% - 70px); /* Subtract header and footer heights from total height */
    display: flex; /* Add flex display for columns */
}


#col1 {
    background-color: white;
    width: 150px; /* Set a fixed width for the first column */
    overflow-y: auto; /* Enable vertical scrolling for the first column if needed */
    padding-right: 10px; /* Add some padding to avoid content overlapping with scrollbar */
}


#col2 {
    background-color: white;
    flex-grow: 1; /* Allow the second column to grow and take remaining space */
    overflow-y: auto; /* Enable vertical scrolling for the second column if needed */
    padding-left: 10px; /* Add some padding to avoid content overlapping with scrollbar */
}

#content {
    max-height: 100%;
    background-color: white;
    overflow: hidden;
    height: 100%;
}

#contentInner {
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    background-color: white;
    border: none;
}

.button {
    width: 100px;
    background-color: white;
}

/* When we hit the small width breakpoint, double the height of the wrapper to 2 x vp height, 
make the page content flex wrap, and make the page content columns 100% width to force the wrap. Also
noe make the  page content columns 40% height to retain their original height now the patent is double height. 
*/
@media screen and (max-width: 750px) {
    .wrapper {
        min-height: 200vh;
        max-height: 200vh;
    }

    .page-content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #col1 {
        grid-column-start: 1;
        grid-column-end: 1; /* Change to -1 to span across all columns */
        grid-row-start: 1; /* Change to -2 to align with second last row */
        grid-row-end: 1; /* Change to -2 to align with second last row */

        overflow-y: auto; /* Enable vertical scrolling for the first column if needed */
    }
}

thead tr th:first-child,
tbody tr td:first-child {
    width: 100px;
    min-width: 100px;
    max-width: 100px;
    word-break: break-all;
}

thead tr th:nth-child(-n + 2),
tbody tr td:nth-child(-n + 2) {
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    word-break: break-all;
}

#author-table {
    border-collapse: collapse;
    border: black;
    border-color: black;
    border-bottom: black;
    border-width: 1 !important;
}
