<div class="container-fluid">
    <div class="content" style="width:60%;">
        <div style="height:10px;"></div>
        <div class="row">
            <div class="col-sm-2">
                <button type="button" id="savefiltermodel" onclick="saveFilterModel();" class="btn btn-outline-success btn-sm" style="color: black">Save Filter</button>
            </div>
            <div class="col-sm-2">
                <button type="button" id="restorefiltermodel" onclick="restoreFilterModel();" class="btn btn-outline-success btn-sm" style="color: black">Restore Filter</button>
            </div>
            <div class="col-sm-2">
                <button type="button" id="clearfilters" onclick="clearFilters();" class="btn btn-outline-danger btn-sm" style="color: black">Reset Filters</button>
            </div>
            <div class="col-sm-2">
                <button type="button" id="destroyfilter" onclick="destroyFilter();" class="btn btn-outline-danger btn-sm" style="color: black">Destroy Filter</button>
            </div>
            <div class="col-sm-2">
                Saved Filters: <span id="savedFilters">(none)</span>
            </div>


        </div>
    </div>
</div>

@code {

}
