<!DOCTYPE html>
<html lang="en">
<head>
    <title>LightSwitch</title>
    <meta http-equiv="refresh" content="1200;url="http://www.lightswitchpress.com/Author/Account/login.aspx">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="dns-prefetch" href="http://www.lightswitchpress.com/">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="language" content="en-us">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="noindex, nofollow" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" type="text/css" />
    <link rel="stylesheet" href="css/optimized.css" type="text/css" />
    <script src="Scripts/combined.js" type="text/javascript"></script>
    @RenderSection("HeadContent", required: false)
</head>
<body>
    <div class="wrapper">
        <header class="page-header">
            <center>
                <a href="http://www.lightswitchpress.com/Author/Default.aspx">
                    @* <div class="logo"></div> *@
                </a>
            </center>
            <div class="loginDisplay">
                <asp:Literal ID="LoginLiteral" runat="server"></asp:Literal>
            </div>
        </header>
        <main class="page-main">
            <div class='page-content'>
                <div id='col1' class='col'>
                    <div id='content'>
                        <div id="contentInner">
                            <ul>
                                <li>
                                    <a href="http://www.lightswitchpress.com">LSP Home</a>
                                </li>
                                <li>
                                    <a href="Index">Author Information</a>
                                </li>

                                <li>
                                    <a href="Profile?add=1" target="_blank">Add Author</a>
                                </li>

                                <li>
                                    <a href="BookInformation?Add=1" target="_blank">Add Book</a>
                                </li>

                                <li>
                                    <a href="SalesEntry" target="_blank">Sales Entry</a>
                                </li>

                                <li>
                                    <a href="BulkSalesEntry" target="_blank">Bulk Sales Entry</a>
                                </li>
                                <li>
                                    <a href="Account/Logout">Logout</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div id='col2' class='col'>
                    @RenderBody()
                </div>
            </div>

        </main>
        
        <footer class="page-footer">
            <button onclick="toggleColumn()" class="button">Toggle Menu</button>
                &copy; @DateTime.Now.Year Light Speed Press.  All rights reserved.
        </footer>
        
       


    </div>
 
    <asp:ContentPlaceHolder ID="ScriptPlaceHolder" runat="server">
        <script>
            function toggleColumn() {
                var col1 = document.getElementById('col1');
                if (col1.classList.contains('collapsed')) {
                    col1.classList.remove('collapsed');
                } else {
                    col1.classList.add('collapsed');
                }
            }
        </script>
    </asp:ContentPlaceHolder>



</body>
</html>