<!DOCTYPE html>
<html>
<head runat="server">
    <title>LightSwitch</title>
    <meta http-equiv="refresh" content="1200;url=http://www.lightswitchpress.com/Author/Account/login.aspx">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="dns-prefetch" href="http://www.lightswitchpress.com/">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="language" content="en-us">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="noindex, nofollow" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link href="Styles/optimized.css" rel="stylesheet" type="text/css">
    <script src="Scripts/combined.js" type="text/javascript"></script>
    @RenderSection("HeadContent", required: false)

</head>
<body>
    <form id="Form1" runat="server">
        <div class="wrapper">
            <div class="header">
                <center>
                    <a href="http://www.lightswitchpress.com/Author/Default.aspx">
                        <div class="logo"></div>
                    </a>
                </center>
                <div class="loginDisplay">
                    <asp:Literal ID="LoginLiteral" runat="server"></asp:Literal>
                </div>
            </div>
            <div class="wrapmiddle">
                <div class="middle">
                    <asp:ContentPlaceHolder ID="MainContent" runat="server" />
                </div>
            </div>
            <div class="left">
                <a href="http://www.lightswitchpress.com">LightSwitchPress Home</a><br>
                @RenderSection("LeftColumnContent", required: true)

            </div>
            <div class="right">
                @RenderSection("RightColumnContent", required: true)
            </div>
        </div>


    </form>
    @RenderSection("ScriptPlaceHolder", required: true)



</body>
</html>
